<div class="container">
  <div class="text-center">
      <h1>Forgot Password?</h1>
      <h5>Reset your password from mail</h5>
  </div>
  <br>
  <form class="form-horizontal appointment" action="/action_page.php" >
      <div class="form-group">
          <label class="control-label col-sm-2 col-xs-1" for="email"><i class="glyphicon glyphicon-user user"></i></label>
          <div class="col-xs-10">
              <input type="email" class="form-control" id="email" placeholder="Email*" name="email">
              <label>Email*</label>
          </div>
      </div>
      <div class="form-group">
          <div>
              <button type="submit" >SUBMIT</button>
          </div>
          <div class="ftr">
                  <p class="text-left reg"><a routerLink="/register">REGISTER NOW!</a></p>
                  <p class="text-right reg"><a routerLink="/login">LOGIN</a></p>
              </div>
      </div>
      
  </form>
</div>  